.vscode
.idea/
.DS_Store
.terraform
terraform.tfstate
terraform.tfstate*.backup
terraform.tfvars
backend.config
errored.tfstate
.terragrunt-cache
*.lock.hcl
*/*/low-load/.terragrunt-cache
*/*/low-load/.terraform.lock.hcl
plan.txt
*/*/low-load/plan.txt